appdirs==1.4.4
asgiref==3.4.1
astor==0.8.1
certifi==2021.5.30
cffi==1.14.5
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
fastapi==0.68.1
funcparserlib==0.3.6
greenlet==0.4.13
h11==0.12.0
hy==0.20.0
idna==3.2
importlib-metadata==4.8.1
lxml==4.6.3
pydantic==1.8.2
pymemcache==3.5.0
readline==6.2.4.1
requests==2.26.0
rply==0.7.8
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.2
urllib3==1.26.6
uvicorn==0.15.0
zipp==3.5.0
